In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from pathlib import Path
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
#loading the file
us_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data_files/Monthly_data/US_weather_data/combined_us_weather.csv")
ca_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data_files/Monthly_data/CA_weather_data/combined_ca_weather.csv", encoding='ISO-8859-1')
ab_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data_files/monthly_data/CA_weather_data/alberta_weather.csv", encoding='ISO-8859-1')
monthly_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data_files/Monthly_data/Monthly_data.csv")
daily_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data_files/Daily_data/Daily_data.csv")

In [3]:
daily_df.head()

,Date,Henry USD/MMBtu,AECO 5A USD/MMBtu,AECO 5A Cad/GJ,Electricity_Daily_Average,Electricity_Daily_On_Peak_Average,Electricity_Daily_Off_Peak_Average,Electricity_30Ravg Average,Electricity_30Ravg_On_Peak_Average,Electricity_30Ravg_ Off_Peak_Average,...,NGTL_Storage_Receipts_Volume_(103M3),NGTL_Gordondale_Receipts_Volume_(103M3),NGTL_Groundbirch_East_Receipts_Volume_(103M3),NGTL_Intra_Provincial_Deliveries_Volume_(103M3),NGTL_Border_Deliveries_Volume_(103M3),NGTL_Empress_Deliveries_Volume_(103M3),NGTL_ABC_Deliveries_Volume_(103M3),NGTL_McNeil_Deliveries_Volume_(103M3),NGTL_Gordondale_Deliveries_Volume_(103M3),NGTL_Storage_Deliveries_Volume_(103M3)
0,1/1/2017,NaN,NaN,NaN,19.31,20.85,16.23,24.31,26.57,19.80,...,39105.7,3965.8,10308.0,177681.6,191746.8,67435.7,65237.7,52237.2,0.0,684.7
1,1/2/2017,NaN,NaN,NaN,29.85,34.20,21.13,24.82,27.19,20.07,...,35628.2,2854.0,10221.2,186470.6,189014.8,67325.4,63451.6,51766.1,0.0,0.0
2,1/3/2017,NaN,NaN,NaN,25.87,27.42,22.77,25.14,27.54,20.35,...,56877.4,2832.5,10236.0,186598.2,191846.2,68786.9,62590.7,53418.3,0.0,0.0
3,1/4/2017,NaN,NaN,NaN,25.76,29.11,19.06,25.42,27.89,20.48,...,51980.7,2979.2,9510.6,179125.0,196232.9,68613.5,64751.8,55354.6,0.0,608.6
4,1/5/2017,NaN,NaN,NaN,19.42,19.78,18.69,25.38,27.80,20.55,...,41777.5,2382.7,9912.5,176935.0,198116.7,68541.6,65225.6,56139.9,0.0,643.8

In [12]:
daily_df.columns=daily_df.columns.str.replace(' ', '_')

In [5]:
daily_df.dtypes

Date                                                object
Henry USD/MMBtu                                    float64
AECO 5A USD/MMBtu                                  float64
AECO 5A Cad/GJ                                     float64
Electricity_Daily_Average                          float64
Electricity_Daily_On_Peak_Average                  float64
Electricity_Daily_Off_Peak_Average                 float64
Electricity_30Ravg Average                         float64
Electricity_30Ravg_On_Peak_Average                 float64
Electricity_30Ravg_ Off_Peak_Average               float64
Measured Receipts Volume (103M3)                   float64
NGTL_Storage_Receipts_Volume_(103M3)               float64
NGTL_Gordondale_Receipts_Volume_(103M3)            float64
NGTL_Groundbirch_East_Receipts_Volume_(103M3)      float64
NGTL_Intra_Provincial_Deliveries_Volume_(103M3)    float64
NGTL_Border_Deliveries_Volume_(103M3)              float64
NGTL_Empress_Deliveries_Volume_(103M3)             float64
NGTL_ABC_Deliveries_Volume_(103M3)                 float64
NGTL_McNeil_Deliveries_Volume_(103M3)              float64
NGTL_Gordondale_Deliveries_Volume_(103M3)          float64
NGTL_Storage_Deliveries_Volume_(103M3)             float64
dtype: object

In [6]:
daily_df['Date'] = pd.to_datetime(daily_df['Date'])

In [13]:
daily_df.dtypes

Date                                               datetime64[ns]
Henry_USD/MMBtu                                           float64
AECO_5A_USD/MMBtu                                         float64
AECO_5A_Cad/GJ                                            float64
Electricity_Daily_Average                                 float64
Electricity_Daily_On_Peak_Average                         float64
Electricity_Daily_Off_Peak_Average                        float64
Electricity_30Ravg_Average                                float64
Electricity_30Ravg_On_Peak_Average                        float64
Electricity_30Ravg__Off_Peak_Average                      float64
Measured_Receipts_Volume_(103M3)                          float64
NGTL_Storage_Receipts_Volume_(103M3)                      float64
NGTL_Gordondale_Receipts_Volume_(103M3)                   float64
NGTL_Groundbirch_East_Receipts_Volume_(103M3)             float64
NGTL_Intra_Provincial_Deliveries_Volume_(103M3)           float64
NGTL_Border_Deliveries_Volume_(103M3)                     float64
NGTL_Empress_Deliveries_Volume_(103M3)                    float64
NGTL_ABC_Deliveries_Volume_(103M3)                        float64
NGTL_McNeil_Deliveries_Volume_(103M3)                     float64
NGTL_Gordondale_Deliveries_Volume_(103M3)                 float64
NGTL_Storage_Deliveries_Volume_(103M3)                    float64
dtype: object

In [14]:
monthly_df.CA_Inflation

AttributeError: 'DataFrame' object has no attribute 'CA_Inflation'

In [18]:
daily_df.head()

,Date,Henry_USD/MMBtu,AECO_5A_USD/MMBtu,AECO_5A_Cad/GJ,Electricity_Daily_Average,Electricity_Daily_On_Peak_Average,Electricity_Daily_Off_Peak_Average,Electricity_30Ravg_Average,Electricity_30Ravg_On_Peak_Average,Electricity_30Ravg__Off_Peak_Average,...,NGTL_Storage_Receipts_Volume_(103M3),NGTL_Gordondale_Receipts_Volume_(103M3),NGTL_Groundbirch_East_Receipts_Volume_(103M3),NGTL_Intra_Provincial_Deliveries_Volume_(103M3),NGTL_Border_Deliveries_Volume_(103M3),NGTL_Empress_Deliveries_Volume_(103M3),NGTL_ABC_Deliveries_Volume_(103M3),NGTL_McNeil_Deliveries_Volume_(103M3),NGTL_Gordondale_Deliveries_Volume_(103M3),NGTL_Storage_Deliveries_Volume_(103M3)
0,2017-01-01,NaN,NaN,NaN,19.31,20.85,16.23,24.31,26.57,19.80,...,39105.7,3965.8,10308.0,177681.6,191746.8,67435.7,65237.7,52237.2,0.0,684.7
1,2017-01-02,NaN,NaN,NaN,29.85,34.20,21.13,24.82,27.19,20.07,...,35628.2,2854.0,10221.2,186470.6,189014.8,67325.4,63451.6,51766.1,0.0,0.0
2,2017-01-03,NaN,NaN,NaN,25.87,27.42,22.77,25.14,27.54,20.35,...,56877.4,2832.5,10236.0,186598.2,191846.2,68786.9,62590.7,53418.3,0.0,0.0
3,2017-01-04,NaN,NaN,NaN,25.76,29.11,19.06,25.42,27.89,20.48,...,51980.7,2979.2,9510.6,179125.0,196232.9,68613.5,64751.8,55354.6,0.0,608.6
4,2017-01-05,NaN,NaN,NaN,19.42,19.78,18.69,25.38,27.80,20.55,...,41777.5,2382.7,9912.5,176935.0,198116.7,68541.6,65225.6,56139.9,0.0,643.8

In [10]:
ca_weather_df.head()

,Station Name,Date/Time,Year,Month,Day,Max Temp (Â°C),Min Temp (Â°C),Mean Temp (Â°C),Heat Deg Days (Â°C),Cool Deg Days (Â°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
0,BANFF CS,1/1/2017,2017,1,1,-8.2,-18.4,-13.3,31.3,0.0,NaN,NaN,0.6,14.0,6.0,37
1,BANFF CS,1/2/2017,2017,1,2,-17.3,-31.0,-24.2,42.2,0.0,NaN,NaN,3.3,14.0,NaN,<31
2,BANFF CS,1/3/2017,2017,1,3,-19.3,-36.7,-28.0,46.0,0.0,NaN,NaN,3.2,14.0,NaN,<31
3,BANFF CS,1/4/2017,2017,1,4,-15.2,-31.6,-23.4,41.4,0.0,NaN,NaN,0.3,13.0,NaN,<31
4,BANFF CS,1/5/2017,2017,1,5,-10.2,-15.6,-12.9,30.9,0.0,NaN,NaN,0.0,14.0,NaN,<31

In [11]:
ab_weather_df.head()

,Township,Date,Air Temp. Min. (Â°C),Air Temp. Max. (Â°C),Precip. (mm),Precip. Accumulated (mm),Relative Humidity Avg. (%),Modelled Snow Water Equiv. (mm),Incoming Solar Rad. Total (MJ/m2),Modelled Incoming Rad. Total (MJ/m2),Wind Speed 10 m Avg. (km/h)
0,T009R21W4,1/1/2017,-14.94,-4.96,1.30,1.30,89.79,11.12,3.13,3.99,16.73
1,T009R21W4,1/2/2017,-24.37,-13.47,0.27,1.57,85.18,11.42,3.48,4.20,4.36
2,T009R21W4,1/3/2017,-29.41,-17.53,0.26,1.83,80.17,11.71,4.48,4.41,8.67
3,T009R21W4,1/4/2017,-23.66,-10.17,0.27,2.10,81.87,12.01,3.84,4.74,12.36
4,T009R21W4,1/5/2017,-20.93,-4.17,0.26,2.36,74.93,12.29,3.49,5.33,13.27