In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from pathlib import Path
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [19]:
#loading the file
us_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data/US_weather_data/combined_us_weather.csv")
ca_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data/CA_weather_data/combined_ca_weather.csv", encoding='ISO-8859-1')
ab_weather_df = pd.read_csv("C:/Users/zhaoy/Documents/ECON_611_Uniper_Project/ECON-611-Uniper-Project/data/CA_weather_data/alberta_weather.csv", encoding='ISO-8859-1')

In [11]:
us_weather_df.head()

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
0,"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",1/1/2017,2.8,0.0,0.0,0.0,10.0,0.6
1,"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",1/2/2017,2.4,0.0,0.0,0.0,6.1,-0.5
2,"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",1/3/2017,1.4,0.0,0.0,0.0,10.0,-0.5
3,"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",1/4/2017,3.8,0.0,0.0,0.0,13.3,-0.5
4,"ALBUQUERQUE INTERNATIONAL AIRPORT, NM US",1/5/2017,5.6,0.0,0.0,0.0,13.9,2.2

In [16]:
ca_weather_df.head()

,Station Name,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
0,BANFF CS,1/1/2017,2017,1,1,-8.2,-18.4,-13.3,31.3,0.0,NaN,NaN,0.6,14.0,6.0,37
1,BANFF CS,1/2/2017,2017,1,2,-17.3,-31.0,-24.2,42.2,0.0,NaN,NaN,3.3,14.0,NaN,<31
2,BANFF CS,1/3/2017,2017,1,3,-19.3,-36.7,-28.0,46.0,0.0,NaN,NaN,3.2,14.0,NaN,<31
3,BANFF CS,1/4/2017,2017,1,4,-15.2,-31.6,-23.4,41.4,0.0,NaN,NaN,0.3,13.0,NaN,<31
4,BANFF CS,1/5/2017,2017,1,5,-10.2,-15.6,-12.9,30.9,0.0,NaN,NaN,0.0,14.0,NaN,<31

In [20]:
ab_weather_df.head()

,Township,Date,Air Temp. Min. (°C),Air Temp. Max. (°C),Precip. (mm),Precip. Accumulated (mm),Relative Humidity Avg. (%),Modelled Snow Water Equiv. (mm),Incoming Solar Rad. Total (MJ/m2),Modelled Incoming Rad. Total (MJ/m2),Wind Speed 10 m Avg. (km/h)
0,T009R21W4,1/1/2017,-14.94,-4.96,1.30,1.30,89.79,11.12,3.13,3.99,16.73
1,T009R21W4,1/2/2017,-24.37,-13.47,0.27,1.57,85.18,11.42,3.48,4.20,4.36
2,T009R21W4,1/3/2017,-29.41,-17.53,0.26,1.83,80.17,11.71,4.48,4.41,8.67
3,T009R21W4,1/4/2017,-23.66,-10.17,0.27,2.10,81.87,12.01,3.84,4.74,12.36
4,T009R21W4,1/5/2017,-20.93,-4.17,0.26,2.36,74.93,12.29,3.49,5.33,13.27