In [10]:
import pandas as pd
df = pd.read_csv('Kristian FRED CAD to USD Data.csv')
df.head()

  observation_date  DEXCAUS
0       2017-01-03   1.3437
1       2017-01-04   1.3293
2       2017-01-05   1.3216
3       2017-01-06   1.3216
4       2017-01-09   1.3220

In [17]:
df.observation_date = pd.to_datetime(df.observation_date)
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.dropna()

In [22]:
print(df)

     observation_date  dexcaus
0          2017-01-03   1.3437
1          2017-01-04   1.3293
2          2017-01-05   1.3216
3          2017-01-06   1.3216
4          2017-01-09   1.3220
...               ...      ...
1818       2023-12-22   1.3259
1820       2023-12-26   1.3208
1821       2023-12-27   1.3201
1822       2023-12-28   1.3202
1823       2023-12-29   1.3202

[1745 rows x 2 columns]