In [51]:
import pandas as pd
df = pd.read_csv('S&P 500 Daily Data.csv')
df.head()

       Date      Open      High       Low    Close* Adj Close**         Volume
0  3-Jan-17  2,251.57  2,263.88  2,245.13  2,257.83    2,257.83  3,773,010,000
1  4-Jan-17  2,261.60  2,272.82  2,261.60  2,270.75    2,270.75  3,768,890,000
2  5-Jan-17  2,268.18  2,271.50  2,260.45  2,269.00    2,269.00  3,785,080,000
3  6-Jan-17  2,271.14  2,282.10  2,264.06  2,276.98    2,276.98  3,342,080,000
4  9-Jan-17  2,273.59  2,275.49  2,268.90  2,268.90    2,268.90  3,219,730,000

In [52]:
df.Date = pd.to_datetime(df.Date)
df.Open = df.Open.str.replace(',','').astype('float')
df.High = df.High.str.replace(',','').astype('float')
df.Low = df.Low.str.replace(',','').astype('float')
df['Close*'] = df['Close*'].str.replace(',','').astype('float')
df['Adj Close**'] = df['Adj Close**'].str.replace(',','').astype('float')
df.Volume = df.Volume.str.replace(',','').astype('float')

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.dropna()

In [53]:
print(df)

           date     open     high      low   close*  adj_close**        volume
0    2017-01-03  2251.57  2263.88  2245.13  2257.83      2257.83  3.773010e+09
1    2017-01-04  2261.60  2272.82  2261.60  2270.75      2270.75  3.768890e+09
2    2017-01-05  2268.18  2271.50  2260.45  2269.00      2269.00  3.785080e+09
3    2017-01-06  2271.14  2282.10  2264.06  2276.98      2276.98  3.342080e+09
4    2017-01-09  2273.59  2275.49  2268.90  2268.90      2268.90  3.219730e+09
...         ...      ...      ...      ...      ...          ...           ...
1776 2024-01-25  4886.66  4898.15  4869.34  4894.16      4894.16  4.020430e+09
1777 2024-01-26  4888.91  4906.69  4881.47  4890.97      4890.97  3.353400e+09
1778 2024-01-29  4892.95  4929.31  4887.40  4927.93      4927.93  3.525160e+09
1779 2024-01-30  4925.89  4931.09  4916.27  4924.97      4924.97  3.836130e+09
1780 2024-01-31  4899.19  4906.75  4845.15  4845.65      4845.65  4.696120e+09

[1781 rows x 7 columns]