In [66]:
import pandas as pd 
df = pd.read_csv('S&P TSX Daily Data.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1/3/2017,"15,366.80","15,450.30","15,340.00","15,403.00","15,403.00","201,117,500.00"
1,1/4/2017,"15,433.90","15,520.60","15,412.50","15,516.80","15,516.80","215,081,200.00"
2,1/5/2017,"15,542.10","15,621.40","15,537.40","15,586.60","15,586.60","247,712,500.00"
3,1/6/2017,"15,562.50","15,562.90","15,477.30","15,496.10","15,496.10","198,912,100.00"
4,1/9/2017,"15,475.50","15,475.50","15,382.00","15,389.00","15,389.00","186,465,200.00"

In [67]:
df.Date = pd.to_datetime(df.Date)

df.Open = df.Open.str.replace(',','').astype(float)
df.High = df.High.str.replace(',','').astype(float)
df.Low = df.Low.str.replace(',','').astype(float)
df.Close = df.Close.str.replace(',','').astype(float)
df['Adj Close'] = df['Adj Close'].str.replace(',','').astype(float)
df.Volume = df.Volume.str.replace(',','')
df.Volume = pd.to_numeric(df.Volume,errors='coerce')

In [68]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.dropna()

           date     open     high      low    close  adj_close       volume
0    2017-01-03  15366.8  15450.3  15340.0  15403.0    15403.0  201117500.0
1    2017-01-04  15433.9  15520.6  15412.5  15516.8    15516.8  215081200.0
2    2017-01-05  15542.1  15621.4  15537.4  15586.6    15586.6  247712500.0
3    2017-01-06  15562.5  15562.9  15477.3  15496.1    15496.1  198912100.0
4    2017-01-09  15475.5  15475.5  15382.0  15389.0    15389.0  186465200.0
...         ...      ...      ...      ...      ...        ...          ...
1772 2024-01-25  21058.8  21120.7  21021.8  21101.5    21101.5  177381800.0
1773 2024-01-26  21085.0  21142.3  21079.9  21125.3    21125.3  150909700.0
1774 2024-01-29  21106.4  21213.0  21015.0  21200.1    21200.1  188328800.0
1775 2024-01-30  21187.9  21250.5  21104.0  21227.9    21227.9  167593100.0
1776 2024-01-31  21204.9  21250.9  21014.2  21021.9    21021.9  222241000.0

[1775 rows x 7 columns]